@media screen and (min-width: 1200px) {
    h1{
    /* display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;    
    border: solid;
    */


        margin: 30px 300px;

    }

    #score{
        
        margin: 10px 550px;
    }

    #roundAnnouncement{
        margin: 20px 500px; 
    }

    #winAnnouncement{
        margin: 20px 420px;
    }

}




@media screen and (min-width: 600px) and (max-width: 1200px){
    #score{
        margin: 20px 200px;


    }

    #roundAnnouncement{
        margin-bottom: 20px;
        font-size: 50px;

    }

    #winAnnouncement{
        margin-bottom: 20px;
        font-size: 25px;
    }

}




h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid;
    text-align: center;

}

#container{
    text-align: center;
    padding: 20px;
}

button{
    font-size: 25px;
}

#score{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    /*margin: 10px 550px; */
    justify-content: space-around;
    text-align: center;
}

#playerCounter{
    font-size: 30px;
}

#compCounter{
    font-size: 30px;
}


#roundAnnouncement{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    /*margin: 20px 500px; */ 

}

#winAnnouncement{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bolder;
    /*margin: 20px 420px; */


}


body{
    background-image: url('images/backgroundimg1.png');
    background-size: 300px;
}





@media only screen and (max-width: 600px) {
    h1{
        font-size: 30px;
        padding: 5px;
        word-wrap: break-word;
        float: left;
        /*
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        */
        
    }

    #score{
        margin-top: 20px;
        padding: 5px;
        /*
        display: flex;
        align-items: center;
        justify-content: center;
        */
    }    

    #roundAnnouncement{
        margin-top: 20px;
    }

    #winAnnouncement{
        margin-top: 20px;
        padding: 5px;
        float: left;
        width: 100%;
        text-align: center;
    }


}